.track-list{
    margin: 0 20px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:"card card-playlist";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.content-spotify{
    display: flex;
    justify-content: center;
}

.playlist-form{
    float: right;
}