.container{
    color: #fff;
}
.playlist-content, .song-header-container {
    list-style-type: none;
    border-bottom: 1px solid rgb(63, 62, 62);
    display: flex;
    font-size: 14px;
    transition: 0.5s;
  }
.playlist-content:hover{
    background-color: rgb(72, 72, 72);
}

.content{
    font-family: 'Courier New', Courier, monospace;
}
.inputForm{
    border: none;
    width: 200px;
    height: 30px;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 20px;
    margin-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button, a{
    padding: 8px 20px;
    color: white;
    background-color: rgb(56, 225, 56);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    margin-top: 10px;
    text-decoration: none;
}
.btn-logout{
    background-color: rgb(255, 43, 43);
}
.song-header-container{
    background-color: rgb(34, 34, 34);
    border-radius: 15px 15px 0 0;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}  
.playlist-item img{
    width: 100px;
    border-radius: 5px;
}
.playlist-item{
    padding: 12px 0 12px 0;
}
.header {
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
a{
    color: #fff;
}
.playlist-content .btn-play{
    padding-top: 40px;
}
.btn-play button{
    background-color: rgb(51, 223, 51);
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
}
.playlist-item, 
.song-poster-header,
.song-title-header,
.song-album-header,
.song-artist-header,
.song-length-header{
    width: 200px;
    text-align: center;
}

.playlist-item p{
    font-family: sans-serif;
    font-size: 18px;
}